/* Estilos para la tarjeta */
.tarjeta {
    
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
   
    width: 18rem;
    
  }
  
  .tarjeta-imagen {
    width: 100%;
    height: 200px;
    
    object-fit: contain;
   object-position: center;
  }
  
  .tarjeta-contenido {
    flex: 1;
  }
  
  .tarjeta-titulo {
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
    height: 5rem;
    line-height: 1.3rem;
    overflow: hidden; 
    text-overflow: ellipsis; 
   
  }
  
  .tarjeta-descripcion {
    font-size: 1rem;
  color: #555;
  height: 4.5rem;
  margin: 0;
  margin-bottom: 10px;
  overflow: hidden; 
  text-overflow: ellipsis;
  display: -webkit-box; 
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: justify;
  }
  
  .tarjeta-precio {
    margin: 0;
    font-weight: bold;
  }
  
  .boton-agregar {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    ;
  }
  
  .boton-agregar:hover {
    background-color: #45a049;
  }
  .boton-quitar {
    background-color: #af4c4c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .boton-quitar:hover {
    background-color: #a04545;
  }
  
  /* Estilos para el carrito */
  .carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .grilla {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }